@{
    ViewData["Title"] = "welcomepost";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="center">
    @Html.Partial("_FileUpload")
    </div>

<style>
    .center {
       margin:auto;
        width: 80%;
        height: 500px;
        border: 1px solid #808080;
        padding: 10px;
        background-color: rgb(255, 153, 0);
        -webkit-box-shadow: -3px -8px 52px 4px rgba(63,64,63,0.53);
        -moz-box-shadow: -3px -8px 52px 4px rgba(63,64,63,0.53);
        box-shadow: -3px -8px 52px 4px rgba(63,64,63,0.53);
        -webkit-border-radius: 49px 48px 48px 48px;
        -moz-border-radius: 49px 48px 48px 48px;
        border-radius: 49px 48px 48px 48px;
    }
</style>


